name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  release:
    environment: pypi
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Upgrade pip
        run: |
          pip install --upgrade pip
          pip --version

      - name: Install
        run: python -m pip install build setuptools

      - name: Build package
        run: python -m build

      - name: Upload package
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
